/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
    /* Стили для планшетов и мобильных */
    #player-box img {
        width: 60px !important;
        height: 60px !important;
    }

    #player-box {
        width: 80px !important;
        height: 100px !important;
    }

    .players_list,
    .timeline_list{
        margin: 0 -10px;
        justify-content: space-between;
    }

    .footer p,
    .data_links{
        display: none;
    }
    .only_mobile{
        display: block;
    }
}

@media (max-width: 480px) {
    /* Стили для мобильных */
    .app__wrapper{
        padding: 10px 3%;
    }

    .app__label{
       font-size: 13px;
    }

    #player-box img {
        width: 50px !important;
        height: 50px !important;
    }

    #player-box {
        width: 70px !important;
        height: 90px !important;
    }
    .app__header h1{
        font-size:32px;
        margin: 0 0 5px 0;
    }
    .legend{
        gap: 5px;
    }
    .tile__title{
        font-size: 14px;
    }
    .tile__value{
        font-size: 20px!important;
    }

    .shooting_target{
        min-height: 300px;
    }

    .footer{
        align-items: center!important;
    }
}

/* Стили для скролла */
.app__content {
    max-width: 100%;
}

/* Стилизация скроллбара */
/*::-webkit-scrollbar {*/
/*    height: 2px;*/
/*}*/

/*::-webkit-scrollbar-track {*/
/*    background: #f1f1f1;*/
/*}*/

/*::-webkit-scrollbar-thumb {*/
/*    background: #888;*/
/*    border-radius: 4px;*/
/*}*/

/*::-webkit-scrollbar-thumb:hover {*/
/*    background: #555;*/
/*}*/

::-webkit-scrollbar {
    display: none;
}

/* Для Firefox */
.app__content {
    scrollbar-width: none;
}

/* Для IE и Edge */
.app__content {
    -ms-overflow-style: none;
}